

/* estilo do corpo */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c6ebd1;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}